body {
    background-size: cover;
} 
 
.heading {
    font-size: 24px;
    margin: 0;
    width: 100%;
}

.note {
    font-size: 15px;
    color: red;
}
.div_speed {
    float: left;
}

.div_speed_img{
    width: 200px;
    border-radius: 100px;
}

#speed {
    font-size: 23px;
    margin: 10px;
}

.div_volume {
    float: right;
}

.div_volume_img{
    width: 200px;
    border-radius: 100px;
}

#volume {
    font-size: 23px;
    margin: 10px;
}

.play_button
{
    width: 130px;
    font-size: 25px;
}

   canvas
{
    border:5px solid white;
    border-radius: 20px;
}